body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

.details-container {
    padding: 20px;
}

.details-image img {
    width: 100%;
    height: auto;
    max-height: 45vh;
    margin: 10px 0;
}

.details-heading {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    margin: 20px 0;
}

.details-para {
    margin: 10px;
    line-height: 1.8;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0;
}

.social .hk {
    margin-right: 15px;
}

.endfooter {
    padding: 10px 0;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
}

.endfooter > h2 {
    color: white;
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

@media (max-width: 768px) {
    .details-heading {
        font-size: 1.5rem;
    }

    .details-para {
        font-size: 1rem;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .social  {
        margin-top: 20px;
    }
}

@media (max-width: 500px) {
    .details-heading {
        font-size: 1.2rem;
    }

    .details-para {
        font-size: 0.9rem;
    }

    
}
